lib/.hbmk
samples/.hbmk
lib/libtdolphin.a
lib/tdolphin.lib
lib/*.lib
*.log
samples/*
!samples/*.prg
!samples/*.ch
!samples/*.ini
!samples/*.sh
!samples/*.bat
!samples/*.dbf
!samples/*.hbm
!samples/*.dll
!samples/makefile
!samples/*.rc
!samples/*.res
!samples/*.res

